@media screen and (max-width: 1200px) {


    /* ====================== POLL SINGLE PAGE  ================ */

    .poll-single-page + .item {display: none}
    .poll-single-page {margin-right: 0;}

    /* ====================== OPEN POLL PAGE  ================ */

    .open-poll-page + .item {display: none}
    .open-poll-page {width: 435px;margin-right: 0;}

    /* ====================== POLLS LIST ================ */

    .polls-list .item {padding-right: 250px;padding-bottom: 75px;}
    .polls-list .item .poll-nav {top:auto;bottom:0;width:auto;height: 40px;left:0;}
    .polls-list .item .vote-block {right:20px;top:20px;margin-top: 0;}
    .polls-list .item .floater {margin-top: -10px;}
    .polls-list .item .poll-cat {display: none}
    .polls-list .item .poll-user {bottom:55px;}

}