@media screen and (max-width: 960px) {

    body {
        padding-top: 66px;
    }


    /* ====================== MAIN HEADER ================ */

    .main-header .logo {
        margin-left: 10px;
    }
    .main-header {
        padding: 15px 0;
    }

    .head-search form {
        margin-right: 0px;
        width:71%;
    }
    .head-search input[type="text"] {
        width:70% ;
    }
    .head-login .btn {
        margin-right: 10px;
    }

    /* ====================== MENU ================ */

    .menu {
        width:189px;
    }

    .menu li .submenu a {font-size: 12px;line-height: 25px;}


    /* ====================== LISTING CONTROL ================ */

    .listing-control {
        padding:15px 10px;
        width: 748px;
        margin: 0 auto;
    }


    /* ====================== CONTENT CONTAINERS ================ */

    .main-content.account-section,
    .main-content {
        padding:0 10px;
        width: 748px;
    }

    .main-content.account-section > .f_left {
       width: 375px;
    }

    .right-col-flex {
        margin-left: 210px;
    }
    /* variant with profile item */
    .item.follower.follower-profile + .right-col-flex {
        margin-left: 485px;
    }


    /* ====================== ACCOUNT & SIGN in/up SECTION ================ */

    .account-section .sign-up-in {
        width:285px;
        padding:0 33px 25px 33px;
    }
    .account-section h2 {
        font-size: 18px;
    }

    .account-section p {
        font-size: 14px;
    }

    /* ====================== POLL COMMENTS LIST ================ */

    .poll-comments-list ul {width: 100%;}

    .btn-load-more {
        margin-left: 340px;
    }







}

