/* ==========================================================================
 RESPONSIVE HELPER CLASSES
 ========================================================================== */


@media (max-width: 985px) {


    .tablet-visible {display: block !important; }
    .tablet-hidden { display: none !important; }

}

@media (max-width: 768px) {

    .mobile-landscape-visible {display: block !important;}
    .mobile-landscape-hidden {display:none !important;}

}
@media (max-width: 480px) {
    .mobile-visible {display: block !important;}
    .mobile-hidden {display:none !important;}
}


/* ==========================================================================
 GLOBAL MEDIA QUERIES
 ========================================================================== */

/* ##########################   985   ##################################### */

@media (max-width: 985px) {

    /*
    STRUCTURE/WIDTHS AND MAIN CONTAINERS
    ===============================================*/

    #page-wrap {width:768px;margin:0 auto}
    .w-holder {width:auto;}

    #content-bottom .w-holder,
    #main-content .w-holder,
    #bottom-bar .w-holder,
    #main-footer .w-holder {padding: 0 14px;}

    /*
     SITE TOP
     ===============================================*/

    #top-bar { height:70px;}
    #top-bar .nav-list {width:380px;margin: 4px 0 0 12px;}
    #top-bar .nav-list li {padding-left: 0;}
    #top-bar .nav-list li:nth-child(3) {position: absolute;left:380px;}
    #top-bar .nav-list  li:nth-child(4) {position: absolute;left:375px;top:35px;}

    #main-site-menu { right:14px;}


    /*
     CONTENT
     ===============================================*/
    .banners-row .picture-linkbox .title {
        font-size: 18px;
        left:5px;
        bottom:8px;
        line-height: 15px;
    }
    .banners-row .picture-linkbox .round-btn {
        right:0px;
    }


    .banners-row .round-btn img {width:70%;height: auto}

    .grey-box h2{ font-size: 21px; }

    .grey-box h2 + p {margin-top: 8px;}
    .grey-box h2 small {display: block}

    .stadard-article .pic {
        width: 40%;
    }

    .stadard-article .pic + .cont {width: 57%;}

    .grey-box,
    .grey-box figcaption {line-height: 18px;}

    .grey-box.events li + li + li + li {display: none}
    .grey-box.events li { padding: 5px 0 5px 0;}
    .grey-box.events h2 {font-size:17px;}

    /*
     SLIDERS
     ===============================================*/
    .right-col .bx-controls h3 {
        font-size: 19px;
        margin-top: -29px;
    }

    #know-how .know-how-slider .bx-controls-direction a.bx-next {
        right: -30px;
    }
    #know-how .know-how-slider .bx-controls-direction a.bx-prev {
        left: -30px;
    }
    #know-how .know-how-slider .slide img {max-width:45%;}
    #know-how .know-how-slider .slide img + .cont {width:52%;}
    #know-how .know-how-slider .slide .cont .title {font-size: 25px;}

    #home-slider-banners {
        padding: 0 14px;
    }

    #home-slider-banners .bx-wrapper {
        height: 101px;
    }
    #home-page-slider .slide-title {
        font-size: 42px;
        line-height: 42px;
    }
    #home-content-slider {
      font-size: 15px;
    }

    #home-page-slider .slide {width:768px !important;}
    #home-page-slider .bx-viewport {height:265px !important; }

    #home-page-slider .slide-title .standard-button {margin-top: 15px;}
    #home-page-slider .slide-title .standard-button a {
        height:33px;font-size: 18px;line-height: 33px;min-width: 150px;
    }
    /*
    GRID
    ===============================================*/
    .col_3-7{
        width:auto;
        display: block;
        border-right:0px;
        margin-right:0;
        float: none;
        margin-bottom: 20px;
    }
    .col_4-7{
        width:auto;
        display: block;
        float: none;

    }
    /*
   FORMS
   ===============================================*/

    .siteSearch {
        margin:11px 12px 0 0;
    }
    .siteSearch input[type=submit]{
        padding: 0 10px;
    }

    .selectBox-dropdown.standard-select {
        display: block !important;
    }


}

/* ##########################   768   ##################################### */


@media (max-width: 768px) {

    .htmlarea-content-body {
        line-height: 19px;
        font-size: 15px;
    }
    h1 {
        line-height:1.1 ;
        font-size: 20px;
    }

    /*
    STRUCTURE/WIDTHS AND MAIN CONTAINERS
    ===============================================*/

    #page-wrap {width:480px;margin:0 auto}
    .w-holder {width:auto;}

    #main-content .right-col,
    #main-content .left-col {
        float:none;
        width: 100%;

    }
    #main-content .left-col {margin-bottom: 30px;}


    /*
    SITE TOP
    ===============================================*/

    .siteSearch {
        padding:4px 5px;
        margin:18px 14px 0 0;
        float:right;
    }
    .siteSearch input[type=text] {
       height:22px;
        line-height: 100%;
       font-size: 13px;
       padding: 0 8px;
       width:100px;
    }
    .siteSearch input[type=submit] {
        height:24px;
        line-height: 22px;
        font-size: 13px;
    }

    .mobile-nav-btn {
        margin:18px 0 0 14px;
    }

    .selectBox-dropdown.mobile-markt-selector {display:block !important}

    /*
    SITE BOTTOM
    ===============================================*/

    #bottom-bar ul {text-align: center;}
    #bottom-bar ul li {padding:0 13px !important;}

    /*
    CONTENT
    ===============================================*/

    /* bottom banners */
    .banners-row .picture-linkbox {
        float:left;
        width:48%;
        padding-right: 0;
        margin-bottom: 18px;
    }
    .banners-row .picture-linkbox:nth-child(4n){
        float:left;
        width:48%;
    }
    .banners-row .picture-linkbox:nth-child(odd){
        padding-right:4%;
    }
    .banners-row .picture-linkbox .title,
    .picture-linkbox .title {
        font-size: 22px;
        line-height: 22px;
    }
     .round-btn img {width:70%;height: auto}

    .form li .half {
        width: 100%;
        margin-right:0%;
    }
    .form li .half:first-child {
        margin-bottom: 15px;
    }

    .stadard-article .pic {  width: 40%; }

    .stadard-article .pic + .cont {width: 57%;}
    .search-content-bar p { padding-top: 8px }
    .grey-box.events li + li + li + li {display: block}
    .grey-box.events li { padding: 5px 0 5px 0;}
    .grey-box.events h2 {font-size:21px;}


    /*
     SLIDERS
     ===============================================*/

    .right-col .bx-wrapper {
        margin: 0 auto !important;
    }

    .aside-slider .slide {
        width: 182px;
        height: 100%;
    }
    .aside-slider .grey-box {margin-bottom: 0 !important;}
    .right-col .bx-controls h3 {display: none}

    .right-col .bx-controls-direction {
        position: absolute;
        top:50%;
        left:0;
        margin-top: -15px;
    }
    .right-col .bx-controls-direction a.bx-prev {
        left:-37px;
    }
    .right-col .bx-controls-direction a.bx-next {
        right:-37px;
    }

    #home-slider-pager {display: none}

    .selectBox-dropdown.standard-select.orange {display:block !important; }

    #home-page-slider .slide {width:480px !important;}
    #home-page-slider .bx-viewport {height:166px !important; }

    #home-page-slider .slide-title {
        font-size: 25px;
        line-height: 25px;
        bottom: 10px;
        right:10px;
    }


    #home-slider-banners {
        height: 139px;
    }
    #home-slider-banners .bx-wrapper {
       height:95px;
    }
    #home-slider-banners .picture-linkbox .round-btn {right:1px;bottom:8px;}

    #home-page-slider .slide-title .standard-button a {
        height:30px;font-size: 17px;line-height: 30px;min-width: 100px;
    }
    #home-content-slider .bx-controls-direction h2 {
        font-size: 20px;
        line-height: 37px;
    }
    /*
    GRID
    ===============================================*/

    .col_1-2 + .col_1-2,
    .col_1-2{
        float:none;
        width:100%;
        display: block;
        margin-bottom: 20px;
    }



    /*
    GLOBAL MODULES
    ===============================================*/
    .social-icons {
        margin-top:0 !important;

    }
    .social-icons div a{
      font-size: 0;
      line-height: 0;
      text-indent: -999999px;
      text-align: center;
      padding-left: 40px;
      position: relative;
      top:-7px;

    }
    .social-icons div {
        text-align: center;

    }

    .social-icons div small{
      display:none !important;
    }


}

/* ##########################   480   ##################################### */


@media (max-width: 480px) {

    /*
    STRUCTURE/WIDTHS AND MAIN CONTAINERS
    ===============================================*/

    #page-wrap {width:320px;margin:0 auto}
    .w-holder {width:auto;}

    #main-image-section {
      background: #fff;
      -webkit-box-shadow: none; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
      box-shadow: none;
    }

    /*
    SITE TOP
    ===============================================*/

    .mobile-search-btn {display:block;margin:18px 14px 0 0;}

    /*
   CONTENT
   ===============================================*/

    .banners-row .picture-linkbox,
    .picture-linkbox {
        float:none;
        display: block;
        width:100% !important;
        padding-right: 0 !important;
        margin-bottom: 10px;
    }
    .banners-row .picture-linkbox a,
    .picture-linkbox a {width:100%}

    .banners-row .picture-linkbox .title,
    .picture-linkbox .title {
        font-size: 30px;
        left:10px;
        bottom:10px;
        line-height: 24px;
    }
    .banners-row .picture-linkbox .round-btn ,
    #home-slider-banners .picture-linkbox .round-btn {
        right:10px;
        bottom:3px;
    }
    #home-slider-banners .picture-linkbox .round-btn {bottom: 5px;}

    .round-btn img {width:100%! important;height: auto}

    #contact-map {
        height: 300px;
    }


    .search-route input[type=text] {
        width: 93%;
    }
    .stadard-article .pic img,
    .stadard-article .pic {
        width:auto;
        float:none;
        display: block;
    }
    .stadard-article .pic img {width: 100%}
    .stadard-article .pic {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .stadard-article .cont {width:100% !important;}

    .grey-box.events li { padding: 9px 0 9px 0;}

    #share-section {position: relative;bottom: 0;padding-bottom:10px;}
    #share-section .share-item {margin-left:4px;}
    /*
     SLIDERS
     ===============================================*/

    .aside-slider .slide {
        width: 215px;
        height: 100%;
    }
    #know-how .know-how-slider .slider {width:70%;}
    #know-how .know-how-slider .slide img {float:none;max-width:100%;margin-bottom: 15px;}
    #know-how .know-how-slider .slide img + .cont {float:none;width:90%;margin-left:0;}

    #content-slider .slide {
        max-width:320px;
        width: 320px;
    }

    #home-page-slider .slide {width:320px !important;}

    #home-page-slider .bx-viewport {
         height:200px !important;
    }

    #home-page-slider .slide-title {
        bottom:auto;
        position: relative;
        width: 292px !important;
        color:#000;
        text-align: left;
        right:auto;
        padding:0 14px;
        font-size: 20px;
        line-height: 20px;
        max-width: 100%;
    }
    #home-page-slider .slide-title .standard-button {margin-top: 24px;}
    #home-page-slider .slide-title .standard-button a {
        font-size:14px;
        width:60px;
        min-width:0;
        height:32px;
        line-height: 14px;
        padding-top: 5px;
    }
    #home-page-slider .slide-title > span {width:55%;float: left;margin-top: 15px;}

    .standard-select.orange  .selectBox-label {font-size: 16px;}
    .standard-select.orange {top:70px;min-width: 138px;}
    .orange-selectBox-dropdown-menu {font-family: bebas_neueregular;font-size: 16px}


    #home-slider-banners {
        height: 205px;
        margin-top: 0;
    }
    #home-slider-banners .bx-wrapper {
        height: 125px;
    }

    #home-content-slider {position: relative}
    #home-content-slider .bx-wrapper {
        width: 230px;
        margin: 0 auto !important;
    }
    #home-content-slider .bx-controls-direction h2 {display: none}
    #home-content-slider .bx-controls-direction {position: absolute;top:50%;margin-top:-15px;}

}

