/* ==========================================================================
   SLIDERS
   ========================================================================== */

/*
#home-slider in header
==================================*/

#home-page-slider {
    position: relative;
    z-index:0;
    overflow: hidden;
}
#home-page-slider .slide {width:986px !important;}
#home-page-slider .bx-viewport {height:340px !important; }

#home-page-slider .bx-loading {}

#home-page-slider .slide img {float: left}
#home-page-slider .slide:first-child ~ .slide {
    visibility:hidden;
    position: absolute;
}
#home-page-slider .slide-title {
    position: absolute;
    right:25px;
    bottom: 20px;
    max-width:50%;
    text-align: right;
    font-size: 55px;
    line-height: 50px;
    color:#fff;
    font-family: "Archivo Narrow";
}
#home-page-slider .slide-title > span {display: block}
#home-page-slider .slide-title .standard-button {text-align: left;margin-top: 20px;}

/* pager */


#home-slider-pager {
    position: absolute;
    z-index:100;
    bottom: 18px;
    left: 14px;

}
#home-slider-pager a {
    background: #ebebeb;
    display: block;
    margin-bottom: 3px;
    font-size: 22px;
    line-height: 26px;
    font-family: bebas_neueregular;
    color: #ed8c01;
    text-decoration: none;
    padding: 0 4px 0 4px;
    min-width: 150px;
    height: 25px;
}
#home-slider-pager a.active {
    background: #ed8c01;
    color:#fff;
    position: relative;
}
#home-slider-pager a.active span {
    background: url(../media/layout/home_pager_arr.png) no-repeat top left;
    width:10px;
    height:25px;
    position: absolute;
    right:-10px;
    top:0;
    display: block;

}

/* AJAX HOME SLIDER BANNERS */


#home-slider-banners{
    margin-top: 20px;
    height: 143px;
    position: relative;
}
#home-slider-banners.banners-hide .slide{
    position: absolute;
    opacity:0;
}

#home-slider-banners .slide {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}
#home-slider-banners .slide .picture-linkbox {margin-bottom: 0;}

#home-slider-banners .slide.bx-clone {
    opacity:1 !important;
}
#home-slider-banners .bx-wrapper {
    height: 101px;
    margin-bottom: 44px !important;

}


#home-slider-banners .w-holder {position: relative;}

#home-slider-banners .bx-controls {
    position: absolute;
    bottom:-1px;
    width: 100%;
}
#home-slider-banners .bx-pager {text-align: left;}

#home-slider-banners .bx-loading {
    min-height: 50px;
    background: transparent url(../media/layout/bx_loader.gif) center center no-repeat ;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 2000;
}

#home-slider-banners .picture-linkbox .round-btn {
    bottom:6px;
}
#home-slider-banners .bx-pager-item a {
    height:18px;
    width:19px;
    margin: 0 5px 0 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0;
    background: url(../media/layout/icons/pager_dots.jpg) no-repeat top right;
}
#home-slider-banners .bx-pager-item a.active {
    background: url(../media/layout/icons/pager_dots.jpg) no-repeat 1px top;
}

/*
Home adverts slider
==================================*/
#home-content-slider .slide {
    margin-right: 22px;
}
#home-content-slider .slide .grey-box:first-child {
    margin-bottom: 20px;
}
#home-content-slider .slide {width: 221px;float: left}

#home-content-slider .bx-pager {display: none}
#home-content-slider .bx-controls-direction {
    height:32px;
    width: 100%;
    position: relative;
    top:13px;
    clear: both;
}
#home-content-slider .bx-controls-direction {text-align: center}
#home-content-slider .bx-controls-direction h2 {margin: 0}
#home-content-slider .bx-controls-direction a {
    margin:0;
    position: absolute;
    font-size: 0;
    top:2px;
    margin-top: 0;
    background: url(../media/layout/icons/slider_arrows.png) no-repeat;
    width:17px;
    height:30px;
}
#home-content-slider .bx-controls-direction a.bx-prev {
    left:0;
    background-position: top left;
}
#home-content-slider .bx-controls-direction a.bx-prev:hover {
    background-position: bottom left;
}
#home-content-slider .bx-controls-direction a.bx-next {
    right:0;
    background-position: top right;
}
#home-content-slider .bx-controls-direction a.bx-next:hover {
    background-position: bottom right;
}
/*
aside-slider
==================================*/

.right-col .bx-controls .bx-pager {
    display:none
}
.right-col .bx-controls-direction {
    position: relative;
    margin-top: 15px;
    height: 30px;
    width: 100%;
    z-index: 1;
}
.right-col .bx-controls {text-align: center}
.right-col .bx-controls h3 {
    margin-top: -30px;
}
.right-col .bx-controls-direction a {
    top:0;
    margin-top: 0;
    background: url(../media/layout/icons/slider_arrows.png) no-repeat;
    width:17px;
    height:30px;
}
.right-col .bx-controls-direction a.bx-prev {
    left:0;
    background-position: top left;
}
.right-col .bx-controls-direction a.bx-prev:hover {
    background-position: bottom left;
}
.right-col .bx-controls-direction a.bx-next {
    right:0;
    background-position: top right;
}
.right-col .bx-controls-direction a.bx-next:hover {
    background-position: bottom right;
}

.aside-slider .grey-box:first-child{
    margin-bottom: 20px;
}
.aside-slider .slide + .slide {visibility: hidden;position: absolute}


/*
#know-how-slider
==================================*/

#know-how {
    margin-top: 22px;
}

/* == info-bar == */

#know-how .info-bar {
    clear: both;
    margin:0 15px;
    padding: 15px 0 0 3px;
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-shadow:  0px 1px 0px 0px #ffffff;
    box-shadow:  0px 1px 0px 0px #ffffff;
    overflow: hidden;
}
#know-how .info-bar li {
    margin: 0 0px 0 0;
    padding: 0 47px 11px 38px;
    list-style: none;
    float: left;
    position: relative;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 18px;
}
#know-how .info-bar li:last-child { padding-right: 0 }

#know-how .info-bar li a {text-decoration: none;}
#know-how .info-bar li span {
    position: absolute;
    left:0;
    top:4px;
}
#know-how .info-bar li strong {
    color:#ed8c01;
    font-size: 16px;
    display: inline;
}

/* == content == */

#know-how .know-how-slider .slider {
    width:83.5%;
    visibility: hidden;

}
#know-how .know-how-slider .bx-wrapper {margin: 0 auto !important; padding: 30px 0;}
#know-how .know-how-slider .bx-pager {display: none}

/*arrows*/
#know-how .know-how-slider .bx-controls-direction a {
    background: url(../media/layout/icons/slider_arrows.png) no-repeat;
    width:17px;
    height:30px;
}

#know-how .know-how-slider .bx-controls-direction a.bx-next {
    right: -45px;
    background-position: top right;
}
#know-how .know-how-slider .bx-controls-direction a.bx-next:hover {
    background-position: bottom right;
}
#know-how .know-how-slider .bx-controls-direction a.bx-prev {
    left: -45px;
}
#know-how .know-how-slider .bx-controls-direction a.bx-prev:hover {
    background-position: bottom left;
}

/*slides*/
#know-how .know-how-slider .slide img {float:left;max-width:55%;}
#know-how .know-how-slider .slide img + .cont {float:left;width:42%;margin-left:3%;}

#know-how .know-how-slider .slide .cont .title {
    font-size: 30px;
    line-height: 30px;
    font-family: bebas_neueregular;
    color:#ed8c01;
    display: block;
    padding-bottom: 4px;
}
#know-how .know-how-slider .slide .cont p {line-height: 20px;margin-bottom: 0; margin-top:1em;}

#know-how .know-how-slider .slide.bx-clone:last-child {display:none;}

/* == carousel == */

#know-how .know-how-carousel {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f09d01), to(#ea7b01));
    background-image: -webkit-linear-gradient(top, #f09d01, #ea7b01);
    background-image:    -moz-linear-gradient(top, #f09d01, #ea7b01);
    background-image:      -o-linear-gradient(top, #f09d01, #ea7b01);
    background-image:         linear-gradient(to bottom, #f09d01, #ea7b01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09d01', endColorstr='#ea7b01');
    zoom: 1;
    overflow: hidden;
    position: relative;

}
#know-how .know-how-carousel.centered .carousel{
    margin:0 auto;
}
#know-how .know-how-carousel .carousel{
    overflow: hidden;
    height: 42px;
    max-width: 100%;
    position: relative;
}
#know-how .know-how-carousel ul {
    margin: 0;
    padding: 0;
    position: relative;
    width:9000px;
    left:0;
}
#know-how .know-how-carousel ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: bebas_neueregular;
    color:#fff;
    height: 42px;
    float:left;
    width: 44px;
    border-right: 1px solid #d68100;
    -webkit-box-shadow: inset -1px 0 1px 0px #f09c01;
    box-shadow: inset -1px 0 1px 0px #f09c01;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f09d01), to(#ea7b01));
    background-image: -webkit-linear-gradient(top, #f09d01, #ea7b01);
    background-image:    -moz-linear-gradient(top, #f09d01, #ea7b01);
    background-image:      -o-linear-gradient(top, #f09d01, #ea7b01);
    background-image:         linear-gradient(to bottom, #f09d01, #ea7b01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09d01', endColorstr='#ea7b01');
    zoom: 1;

}
#know-how .know-how-carousel ul li a {
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}
#know-how .know-how-carousel ul li:first-child.active,
#know-how .know-how-carousel ul li.active {
    background: #fca01c;
    filter:none;
    -webkit-box-shadow: inset 0px 0 2px 1px #cd8217;
    box-shadow: inset 0px 0 2px 1px #cd8217;
}
#know-how .know-how-carousel ul li:first-child {
    -webkit-box-shadow: inset 1px 0 1px 0px #f09c01;
    box-shadow: inset 1px 0 1px 0px #f09c01;
}

/*arrows*/

#know-how .know-how-carousel > a {
    background: url(../media/layout/icons/slider_arrows_white.png) no-repeat;
    width:10px;
    height:18px;
    position: absolute;
    display: none;
    top:12px;
}


#know-how .know-how-carousel a.next {
    background-position: top right;
    right:9px;
}
#know-how .know-how-carousel a.prev {
    background-position: top left;
    left:9px;

}

/*
#content-slider
==================================*/
#content-slider {
    margin-bottom: 60px;
}
#content-slider .slide {
    max-width:236px;
    padding: 1px;
    border: 1px solid #d0d1d3;
}
#content-slider .slide a {
    display: block;
    border:0;
    padding: 0;
    top:0;

}
#content-slider .slide img {width: 100%;}

#content-slider .bx-controls {padding-top:25px;overflow: hidden}

#content-slider .bx-pager.bx-default-pager a{
    background: transparent;
    text-indent: 0;
    font-size: 18px;
    text-decoration: none;
    border-left:1px solid #000;
    border-radius: 0;
    margin:0;
    line-height: 17px;
    height: 17px;
    width:auto;
    padding: 0 8px;
    font-family: "Archivo Narrow";
}
#content-slider .bx-pager.bx-default-pager a.active {
    color:#ed8c01;
}
#content-slider .bx-pager .bx-pager-item {
    overflow: hidden;
    text-align: center;
}
#content-slider .bx-pager.bx-default-pager .bx-pager-item:first-child a {border:0;}

/*arrows*/
#content-slider .bx-controls-direction a {
    background: url(../media/layout/icons/slider_arrows.png) no-repeat;
    width:17px;
    height:30px;
    top:auto;
    bottom: -32px;
}

#content-slider .bx-controls-direction a.bx-next {
    right: 0;
    background-position: top right;
}
#content-slider .bx-controls-direction a.bx-next:hover {
    background-position: bottom right;
}
#content-slider .bx-controls-direction a.bx-prev {
    left: 0;
}
#content-slider .bx-controls-direction a.bx-prev:hover {
    background-position: bottom left;
}