{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} About me | Dennis Peterson  {% endblock %}
{% block canonical %} href="https://dennispeter.org/about/" {% endblock %}
{% block ogtype %} content="article" {% endblock %}
{% block ogtitle %} content="About me | Dennis Peterson" {% endblock %}
{% block ogdescription %} content="Everything started with passion to be a Linux Nerd." {% endblock %}
{% block ogurl %} content="https://dennispeter.org/about/" {% endblock %}
{% block description %} content="About me | Dennis Peterson." {% endblock %}
{% block content %}
   <div class="about">
      <div class="me">
         <div class=" divider text-zone">
            <h1 class="color">About me</h1>
            <p> My name is Dennis Peterson. I go online as PythonMafia.
               I'm a security researcher, free Software Developer and open source activist.
            </p>
            <p>At my free time you will find me reverse engineering malware
               and building automation tools for malware analysis.
            </p>
            <p>
               nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
               reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
               pariatur. Excepteur sint occaecat cupidatat non proident, sunt
               in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <br>
            <p>
               Excepteur sint occaecat cupidatat non proident, sunt
               in culpa qui officia deserunt mollit anim id est laborum.
            </p>
         </div>
         <div class="profile divider">
            <div class="og-img"></div>
         </div>
      </div>
      <div class="text-zone">
         <div class="small-card">
            <p class="small-left">
               <i class="icon-love small-right"></i> Want to get to know me better? Lets
               <a href="{% url 'contact' %}">get in touch</a>
            </p>
         </div>
         <div class="philosphies">
            <h1>Philosophies</h1>
            <p class="text-meta">A handful of things that I seriously believe in. (Click to expand, if you're interested.)</p>
            <ul class="phil_list list">
               <li>
                  <div class="collapsible-header">
                     <span>Occam's razor is still sharp</span>
                  </div>
                  <div class="collapsible-body">
                     <p>In problem solving, the simplest solution tends to be the correct one. Simple things are easier to understand and prove for correctness. I also assert that nearly all complicated things may be broken down into simple parts.</p>
                     <p>Easier to understand and prove for correctness. I also assert that nearly all complicated things may be broken down into simple parts.</p>
                     <blockquote>
                        Debugging is twice as hard as writing the code in the first place. Therefore, if you write code as cleverly as possible, you are, by definition, not smart enough to debug it.
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;— Brian W. Kernighan
                     </blockquote>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">
                     <span>80% of work is design</span>
                  </div>
                  <div class="collapsible-body">
                     <p>In problem solving, the simplest solution tends to be the correct one. Simple things are easier to understand and prove for correctness. I also assert that nearly all complicated things may be broken down into simple parts.</p>
                     <p>Easier to understand and prove for correctness. I also assert that nearly all complicated things may be broken down into simple parts.</p>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">
                     <span>Information ought to be free</span>
                  </div>
                  <div class="collapsible-body">
                     <p>In problem solving, the simplest solution tends to be the correct one. Simple things are easier to understand and prove for correctness. I also assert that nearly all complicated things may be broken down into simple parts.</p>
                     <p>Easier to understand and prove for correctness. I also assert that nearly all complicated things may be broken down into simple parts.</p>
                  </div>
               </li>
            </ul>
         </div>
         <div class="my_team">
            <h1>My Team</h1>
            <p class="text-meta">The shortlist of people that inspire me and continue to shape who I am.</p>
            <div class="friends">
               <div class="friend-card">
                  <div class="friend-top">
                     <div class="friend-img">
                        <img class="img-circle" src="https://krourke.org/img/kfarwell.png" alt="Nerd" width="80" height="80">
                     </div>
                     <div class="friend-profile">
                        <h4 class="code comment-title">
                           <a href="#">Symons</a></h4>
                        <ul class="list comment-meta remove-margin-top">
                           <li class="text-meta">Partner in crime</li>
                           <li>
                              <a href="https://kfarwell.org" target="_blank">kfarwell.org</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="friend-description">
                     <p>I'm looking forward to continuing the adventure of life with him, forever into the future. The world is big, and we want to experience it together. If he were a rock, he would be nice.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="my_team">
            <h1>My Friends</h1>
            <p class="text-meta">Some people that I think are rad.</p>
            <div class="friends">
               <div class="friend-card">
                  <div class="friend-top">
                     <div class="friend-prof"></div>
                     <div class="friend-name">
                        <h1>Jaymoh</h1>
                     </div>
                     <div class="friend-website"><a href="">Jaymoh.com</a></div>
                  </div>
                  <div class="friend-description">
                     <p>'m looking forward to continuing the adventure of life with him, forever into the future. The world is big, and we want to experience it together. If he were a rock, he would be nice.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script>
      var acc = document.getElementsByClassName('collapsible-header');
      for (var i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var collapsible_body = this.nextElementSibling;
      if(collapsible_body.style.maxHeight){
      collapsible_body.style.maxHeight = null;
      }
      else {
      collapsible_body.style.maxHeight = collapsible_body.scrollHeight + "px";
      }
      });
      }
      </script>
   </div>
{% endblock %}