{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} About me | Dennis Peterson  {% endblock %}
{% block canonical %} href="/about/" {% endblock %}
{% block ogtype %} content="article" {% endblock %}
{% block ogtitle %} content="About me | Dennis Peterson" {% endblock %}
{% block ogdescription %} content="Everything started with passion to be a Linux Nerd. 2016" {% endblock %}
{% block ogurl %} content="/about/" {% endblock %}
{% block content %}
<div id="page" class="en">
  <section class="about">
    <span class="tags top-tags">
      &nbsp;&nbsp;&nbsp;&lt;body&gt;
    </span>
    <div class="divider text-zone">
      <h1> About me </h1>
      <p>
        Everything started with passion to be a Linux Nerd.
      </p>
      <p> The adventure so far. </p>
      <p>
        1996 &#8211; My adventure began in Lower Yatta, Kitui — one fateful, very early morning in mid-July. With cake every year, I can't complain about that.
      </p>
      <p>
        2012 &#8211; &lt;&lt;Hacker Dreams&gt;&gt; Started Learning Computer Studies at St Mathias as my technical Subject.Graduated with B+.:happy:
      </p>
      <p>
        2016 &#8211; Joined Maseno University to study Computer Technology.<br>
        &gt;&gt;I Finally got my own computer.Default O/s was windows, bored as shit
        I dual booted with Kali Linux and later Dropped Kali for Ubuntu Mate.<br>
        &gt;&gt;Joined Sololearn to learn Programming at my free time.<br>
        &gt;&gt;Completed 8 Sololearn Courses &lt;&lt;Html, CSS, Python, Java ,Js,SQL,PHP, &gt;&gt;<br>
        &gt;&gt;Made my first <a href="https://dennohpeter.github.io/EnterLogiesGames/" target="_blank" aria-label="Enterlogies">Website.</a>
      </p>
      <p>
        2017 &#8211; I formarted Everything on my Computer and installed ParrotSec. I really &lt;3 Parrot.All at one.<br>
        &gt;&gt;Finally Became Number One in Kenya on Sololearn LeadersBoard till Today.
      </p>
      <p>
        2018 &#8211;Got the love of my life ParrotSec..).ParrotSec is bae.
      </p>
      <p>
        Rest of my experience is  successful cooperatiion as a  freelencer/self employed with IT companies and professionals from India.
      </p>
      <p>
        &nbsp;
      </p>
      <img style="max-width:95%;margin-top: 40px;" src="{% static 'img/timeline.png' %}" alt=""/>
      <div class="clear">
      </div>
    </div>
    <div class="divider profile">
      <div class="prof_cont">
      </div>

    </div>
    <span class="tags bottom-tags">
      &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br/>
      &lt;/html&gt;
    </span>
  </section>
</div>
{% endblock %}
