{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}  Awards | Dennis Peterson {% endblock %}
{% block canonical %}  href="https://dennispeter.org/awards" {% endblock %}
{% block ogtype %} content="awards" {% endblock %}
{% block ogtitle %} content="DP - Full Stack Developer | Python | Linux" {% endblock %}
{% block ogdescription %} content="I'm Dennis Peterson, Fullstack Developer.This is my personal website" {% endblock %}
{% block ogurl %} content="https://dennispeter.org/awards" {% endblock %}
{% block description %} content="I'm Dennis Peterson, Fullstack Developer.This is my personal website." {% endblock %}
{% block twitterdescription %} content="I'm Dennis Peterson, Fullstack Developer.This is my personal website." {% endblock %}
{% block twittertitle %} content="DP - Back End Developer | Python | Linux" {% endblock %}
{% block bodyclass %} class="awards" {% endblock %}
{% block content %}

{% endblock %}
