{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Awards | Dennis Peterson {% endblock %}
{% block canonical %} href="http://www.dennohpeter.com/awards" {% endblock %}
{% block ogtype %} content="awards" {% endblock %}
{% block ogtitle %} content="Awards | Dennis Peterson" {% endblock %}
{% block ogdescription %} content="Awards, merits, and recognition earned by Dennis Peterson." {% endblock %}
{% block ogurl %} content="http://www.dennohpeter.com/awards" {% endblock %}
{% block description %} content="Awards, merits, and recognition earned by Dennis Peterson." {% endblock %}
{% block content %}
<div class="awards">
   <div class="text-zone">
   <h1 class="color">Awards</h1>
   <p class="intro">
      I have earned a number of awards, merits, and recognitions through my life.
      Some of the most recent and relevant ones are listed below.
      High school awards are omitted for brevity.
   </p>
   <div class="timeline">
      {% for award in awards  %}
      <div class="honour">
         <div class="icon"><i class="icon-award"></i></div>
         <div class="description">
            <h4>{{ award.title }}</h4>
            <p>{{ award.description }}</p>
            {% if award.credit %}
            <small>Referred by: {{ award.credit }}</small>
            {% endif %}
            <hr>
         </div>
      </div>    
      {% endfor %}
   </div>
   </div>
</div>
{% endblock %}