{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Awards | Dennis Peterson {% endblock %}
{% block canonical %} href="https://dennispeter.org/awards" {% endblock %}
{% block ogtype %} content="awards" {% endblock %}
{% block ogtitle %} content="Awards | Dennis Peterson" {% endblock %}
{% block ogdescription %} content="Awards | Dennis Peterson" {% endblock %}
{% block ogurl %} content="https://dennispeter.org/awards" {% endblock %}
{% block description %} content="Awards | Dennis Peterson." {% endblock %}
{% block content %}
<div class="awards">
   <div class="text-zone">
   <h1>Awards</h1>
   <p class="intro">
      I have earned a number of awards, merits, and recognitions through my life.
      Some of the most recent and relevant ones are listed below.
      High school awards are omitted for brevity.
   </p>
   <div class="timeline">
      <div class="honour">
         <div class="icon"><i class="icon-award"></i></div>
         <div class="description">
            <h4>MLH Ethical Tech Initiative Scholarship ($10 000 USD)</h4>
            <p>Awarded in January 2019 by the School of Computer Science Co-operative Education Department,
               I received this award in recognition of high academic acheivement,
               workplace performance, innovation and contributions, and involvement within
               the community and Guelph Co-op program during my 2018 co-op placement.
            </p>
            <small>Referred by: Dr. Daniel Gillis, Dr. Judi McCuaig</small>
            <hr>
         </div>
      </div>
      <div class="honour">
         <div class="icon"><i class="icon-award"></i></div>
         <div class="description">
            <h4>Michele and Maria Vanneli Scholarship ($1000 CAD)</h4>
            <p>Awarded in October 2018 by the Dean of the College of Engineering & Physical Science
               for academic excellence and community leadership.
            </p>
            <small>Referred by: Dr. Daniel Gillis, Dr. Judi McCuaig</small>
            <hr>
         </div>
      </div>
      <div class="honour">
         <div class="icon"><i class="icon-award"></i></div>
         <div class="description">
            <h4>Michele and Maria Vanneli Scholarship ($1000 CAD)</h4>
            <p>Awarded in October 2018 by the Dean of the College of Engineering & Physical Science
               for academic excellence and community leadership.
            </p>
            <small>Referred by: Dr. Daniel Gillis, Dr. Judi McCuaig</small>
            <hr>
         </div>
      </div>
   </div>
   </div>
</div>
{% endblock %}