<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js ">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/978285309145354241/2qsyGFTA_400x400.jpg" />
    <title>{% block title %} Dennis Peterson | Full Stack Developer | Linux Nerd {% endblock %}</title>
    <link rel="canonical" {% block canonical %} href="https://dennispeter.herokuapp.com/"{% endblock %}/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" {% block ogtype %} content="website" {% endblock %}/>
    <meta property="og:title" {% block ogtitle %} content="Dennis Peterson - Full Stack Developer | Python | Linux Nerd" {% endblock %} />
    <meta property="og:description" {% block ogdescription %} content="I'm Dennis Peterson, Fullstack Developer.This is my personal website." {% endblock %} />
    <meta name="author" content="Dennis Peterson">
    <meta name="copyright" content='© Dennis Peterson 2018-{% now "Y" %}'>
    <meta property="og:url" {% block ogurl %} content="https://dennispeter.herokuapp.com/" {% endblock %} />
    <meta property="og:site_name" content="Full Stack Developer | Python | Linux Nerd" />
    <meta name="robots" content="noodp">
    <meta name="description" {% block description %} content="I'm Dennis Peterson, Fullstack Developer.This is my personal website." {% endblock %}/>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#2d292b">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Dennis Peterson">
    <meta name="application-name" content="Dennis Peterson">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.3/build/css/alertify.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono|Overpass:300,300i,400,400i,700,700i" rel="stylesheet">
    <script>
    var errmsg ='<div class="error-info animated fadeInUp text-white"><span><span>O</span>ops!</span><p>Something went wrong, please refresh the page or try again later.</p></div>'
    var msg1 ="Please fill in all required fields";
    var msg2 = "Please wait. Processing";
    var msg3 = "Your e-mail has been successfully sent. Thank You!";
    var msg4 = "Failed to send your message. Please try later or contact me directly denispeterson96@gmail.com.";
    </script>
  </head>
  <body>
    <div id="nav_bar">
      <a class="logo" rel="index" href="{% url 'home'  %}">
        <img src="https://daks2k3a4ib2z.cloudfront.net/53a9a7630dfd86dd31d6fdb4/53de0b634a9366157770dbb7_icon-intro.svg" alt="Dennis">
        <span class="sidebar-text text-white">Dennis
        </span>
      </a>
      <ul id="menu" class="en list">
        <li data-menuanchor="home" class="{% if request.path == '/' %}active{% endif %}">
        <a rel="index" href="{% url 'home' %}" arial-label="home">
          <i class="icon-home"></i>
        </a>
      </li>
      <li data-menuanchor="about" class="{% if request.path == '/about/' %}active{% endif %}">
      <a rel="about" href="{% url 'about' %}" arial-label="about">
        <i class="icon-prof"></i>
      </a>
    </li>
    <li data-menuanchor="resume" class="{% if request.path == '/resume/' %}active{% endif %}">
    <a rel="resume" href="{% url 'resume' %}" arial-label="resume">
      <i class="icon-resume"></i>
    </a>
  </li>
  <li data-menuanchor="projects" class="{% if '/projects/' in request.path %}active{% endif %}">
  <a rel="projects" href="{% url 'projects' %}" arial-label="projects">
    <i class="icon-activity"></i>
  </a>
</li>
<li data-menuanchor="awards" class="{% if request.path == '/awards/' %}active{% endif %}">
<a rel="awards" href="{% url 'awards' %}" arial-label="awards">
  <i class="icon-award"></i>
</a>
</li>
<li data-menuanchor="contact" class="{% if request.path == '/contact/' %}active{% endif %}">
<a rel="contact" href="{% url 'contact' %}" class="" arial-label="contact">
<i class="icon-mail"></i>
</a>
</li>
</ul>
<ul class="social list">
<li>
<a href="https://twitter.com/PythonMafia" target="_blank" title="tweet" rel="noreferrer">
<i class="icon-twitter"></i>
</a>
</li>
<li>
<a href="https://github.com/dennohpeter/" title="github" target="_blank" rel="noreferrer">
<i class="icon-github"></i>
</a>
</li>
<li>
<a href="#" target="" title="donate" rel="noreferrer">
<i class="icon-gift"></i>
</a>
</li>
<li>
<a href="#copyright-notice" id="notice" class="sidebar-text text-white nicehover">Notice</a>
</li>
</ul>
<span id="mobile-link"  class="text-white" onclick="show_menu()">
<i class="icon-menu"></i>
</span>
</div>
<div class="en wrapper">
{% block content %}
{% endblock %}
</div>
<div id="copyright-notice" class="modal-container">
<div class="modal-body">
<h2 class="modal-title d-inline">Copyright notice</h2>
<span class="close">&times;</span>
<p>
This website is copyright &copy; Dennis Peterson 2018-{% now "Y" %}.<br>
Verbatim copying and redistribution of this entire website is permitted, provided this notice is preserved.<br>
All code found on this website is subject to the terms under which it is licensed. See each project for more specific details.
</p>
<p><br>
  Built with &#10084; using open-source software. This page is rendered using <a href="https://icomoon.io" target="_blank" class="link-blue nicehover">IcoMoon Font</a>, and is readily served by <a href="https://nginx.org" target="_blank" class="link-blue nicehover">Nginx</a>.
</p>
</div>
</div>
<!--javascript files  -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.3/build/alertify.min.js"></script>
{% block contact %} {% endblock %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>