<!doctype html>
{% load staticfiles %}
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js ">
<head>

</head>
<body class="page page-id-13 page-template page-template-template-about page-template-template-about-php about">
  <div id="nav_bar">
  	<a class="logo" rel="index" href="/">
  		<img src="https://daks2k3a4ib2z.cloudfront.net/53a9a7630dfd86dd31d6fdb4/53de0b634a9366157770dbb7_icon-intro.svg" alt="Dennis">
  		<span style="color: #ffffff; padding-left: 8px; letter-spacing: 2px;">Dennis</span>
  	</a>
  	<nav class="en">
  		<a rel="index" href="/" class="home-link active">
  			<i class="icon-hom"></i>
  		</a>
  		<a rel="about" href="/about/" class="">
  			<i class="icon-prof"></i>
  		</a>
  		<a rel="skills" href="/skills/" class="">
  			<i class="icon-gear"></i>
  		</a>
  		<a rel="gallery" href="/portfolio/" class="">
  			<i class="icon-eye"></i>
  		</a>
  		<a rel="contact" href="/contact/" class="">
  			<i class="icon-mail"></i>
  		</a>
  	</nav>
  	<ul>
  		<li>
  			<a href="https://twitter.com/dennohpeter" target="_blank">
  				<i class="fa fa-twitter"></i>
  			</a>
  		</li>
  		<li>
  			<a href="https://www.linkedin.com/in/dennis-peterson-563752149/" target="_blank">
  				<i class="fa fa-linkedin"></i>
  			</a>
  		</li>
  		<li>
  			<a href="https://www.facebook.com/dennohpeterson" target="_blank">
  				<i class="fa fa-facebook"></i>
  			</a>
  		</li>
  		<li>
  			<a href="/feed/" target="_blank">
  				<i class="fa fa-rss"></i>
  			</a>
  		</li>
  	</ul>
  	<a id="mobile-link" href="">
  		<i class="fa fa-bars"></i>
  	</a>
  </div>

</body>
</html>
