{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="fullpage" class="en wrapper">
	<div class="section home-page">
		<div class="flipper-inner">
			<div class="bg-letter bar1"></div>
			<div class="bg-letter bar2"></div>
			<div class="bg-letter bar3"></div>
		</div>
		<div class="section-wrap">
			<h1 class="letter-transition">
				<span class="color">Hello</span>
				I'm PythonMafia.I'm a security researcher, free software Developer
				and a gopher.<br>

			</h1>
			<p>Scroll to discover my Projects!</p>
			<a class="w-inline-block home-arrow" href="#projects" data-ix="arrow-move-loop" style="opacity: 0; transform: translateX(0px) translateY(24px); transition: transform 450ms ease-in 0s, opacity 450ms ease-in 0s;"><img class="w-hidden-small arrow loop" src="https://daks2k3a4ib2z.cloudfront.net/53bfae17da236d0047c3fedf/540ae8712e39bcad1cb39f3b_arrow_down_128.png" width="64"></a>
		</div>
	</div>
	<div class="section">
		<div class="about">
			<div class="text-zone divider">
				<h1>About me</h1>
				<p> My name is Dennis Peterson. I go online as PythonMafia.
					I'm a security researcher, free software Developer and a gopher.
				</p>
				<p>I also do malware analyses at my free time using ollydb and Die.
					Lorem
				</p>
				<p>
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt
					in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<br>
				<p>
					Excepteur sint occaecat cupidatat non proident, sunt
					in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="profile divider">
				<div class="og-img"></div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="resume">
			<h1>Résumé / CV</h1>
			<p class="intro">I have nearly 4 years of experience in software development. Below is a summary of my skills, recent employment history, and achievements.</p>
			<a href="{% static '/files/resume.pdf' %}" class="button">Download résumé <i class="icon-download"></i></a>
			<div class="long-form-cv">
				<p>Looking for my long-form CV? <a href="{% static '/files/resume.pdf' %}">Download CV <i class="icon-download"></i></a></p>
			</div>
			<object width="100%" height="79%" type="application/pdf" data="{% static '/files/resume.pdf' %}">
				<div>
					<p>Can't see the preview? Try <a href="{% static '/files/resume.pdf' %}">downloading</a> my resume instead.</p>
				</div>
			</object>
		</div>
	</div>
	<div class="section">
		<div class="projects">
			<div class="container">
				<div class="row equal-columns">
					<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
						<div class="project-card">
							<a class="card-image" href="" title="Betting website with the most accurate games">
								<div class="img-container">
									<img alt="The Belters" src="{% static 'projects/2018/thebelters.png'%}" class="img-loader loaded">
								</div>
								<div class="card-image-overlay">
									<p>Betting website with the most accurate games.</p>
								</div>
							</a>
							<div class="card-body">
								<h4>
									<a class="" href="https://thebelters.herokuapp.com/" target="_blank">
										Betting website with the most accurate games
									</a>
								</h4>
							</div>
							<div class="card-bottom">
								<div class="stats">
									<span class="stat">
										<i class="icon-like">808</i>
									</span>
									<span class="stat">
										<i class="icon-eye">808</i>
									</span>
								</div>
								<div class="project-difficulty">
									<i class="icon-bookmark">808</i>
								</div>
							</div>
						</div>
					</div>
					<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
						<div class="project-card">
							<a class="card-image" href="https://hairways.herokuapp.com/" title="Best salon booking website out there">
								<div class="img-container">
									<img alt="The Belters" src="{% static 'projects/2018/ariyanstechies.png'%}" class="img-loader loaded">
								</div>
								<div class="card-image-overlay">
									<p>Best salon booking website out there.</p>
								</div>
							</a>
							<div class="card-body">
								<h4>
									<a class="" href="https://hairways.herokuapp.com/" target="_blank">
										Best salon booking website out there, Everything done right.
									</a>
								</h4>
							</div>
							<div class="card-bottom">
								<div class="stats">
									<span class="stat">
										<i class="icon-like">808</i>
									</span>
									<span class="stat">
										<i class="icon-eye">808</i>
									</span>
								</div>
								<div class="project-difficulty">
									<i class="icon-bookmark">808</i>
								</div>
							</div>
						</div>
					</div>
					<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
						<div class="project-card">
							<a class="card-image" href="" title="Betting website with the most accurate games">
								<div class="img-container">
									<img alt="The Belters" src="{% static 'projects/2017/enterlogies.png'%}" class="img-loader loaded">
								</div>
								<div class="card-image-overlay">
									<p>Betting website with the most accurate games.</p>
								</div>
							</a>
							<div class="card-body">
								<h4>
									<a class="" href="https://dennohpeter.github.io/EnterLogiesGames/" target="_blank">
										Betting website with the most accurate games
									</a>
								</h4>
							</div>
							<div class="card-bottom">
								<div class="stats">
									<span class="stat">
										<i class="icon-like">808</i>
									</span>
									<span class="stat">
										<i class="icon-eye">808</i>
									</span>
								</div>
								<div class="project-difficulty">
									<i class="icon-bookmark">808</i>
								</div>
							</div>
						</div>
					</div>
					<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
						<div class="project-card">
							<a class="card-image" href="" title="Betting website with the most accurate games">
								<div class="img-container">
									<img alt="Processing with PYNQ & OpenMV Cam" src="https://hackster.imgix.net/uploads/attachments/905401/20190525_192831_fuuYqq3f2Y.jpg?auto=compress%2Cformat&w=900&h=675&fit=min" class="img-loader loaded">
								</div>
								<div class="card-image-overlay">
								</div>
							</a>
							<div class="card-body">
								<h4>
									<a class="" href="#" target="_blank">
										Accelerating Image Processing with PYNQ & OpenMV Cam
									</a>
								</h4>
							</div>
							<div class="card-bottom">
								<div class="stats">
									<span class="stat">
										<i class="icon-like">808</i>
									</span>
									<span class="stat">
										<i class="icon-eye">808</i>
									</span>
								</div>
								<div class="project-difficulty">
									<i class="icon-bookmark">808</i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="awards">
			<h1>Awards</h1>
			<p class="intro">
				I have earned a number of awards, merits, and recognitions through my life.
				Some of the most recent and relevant ones are listed below.
				High school awards are omitted for brevity.
			</p>
				<div class="timeline">
					<div class="honour">
						<div class="icon"><i class="icon-award"></i></div>
						<div class="description">
							<h4>MLH Ethical Tech Initiative Scholarship ($10 000 USD)</h4>
							<p>Awarded in January 2019 by the School of Computer Science Co-operative Education Department,
								I received this award in recognition of high academic acheivement,
								workplace performance, innovation and contributions, and involvement within
								the community and Guelph Co-op program during my 2018 co-op placement.
							</p>
							<small>Referred by: Dr. Daniel Gillis, Dr. Judi McCuaig</small>
							<hr>
						</div>
					</div>
					<div class="honour">
						<div class="icon"><i class="icon-award"></i></div>
						<div class="description">
							<h4>Michele and Maria Vanneli Scholarship ($1000 CAD)</h4>
							<p>Awarded in October 2018 by the Dean of the College of Engineering & Physical Science
								for academic excellence and community leadership.
							</p>
							<small>Referred by: Dr. Daniel Gillis, Dr. Judi McCuaig</small>
							<hr>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="section">
			<div class="contact">
				<div class="divider text-zone">
					<h1>Contact me</h1>
					<p>If you have any questions, please don&#8217;t hesitate to contact using form below&#8230;</p>
					<div class="contact-form">
						<form id="contact_form" method="POST">
							{% csrf_token %}
							<ul>
								<li class="half">
									<input class="input__field input__field--hoshi" placeholder="Name" type="text" name="name" />
									<label class="input__label input__label--hoshi input__label--hoshi-color-2" ></label>
								</li>
								<li class="half">
									<input class="input__field input__field--hoshi" placeholder="Email" type="email" name="email" />
									<label class="input__label input__label--hoshi input__label--hoshi-color-2" ></label>
								</li>
								<li>
									<input class="input__field input__field--hoshi" placeholder="Subject" type="text" name="subject" />
									<label class="input__label input__label--hoshi input__label--hoshi-color-2" ></label>
								</li>
								<li>
									<textarea class="input__field input__field--hoshi" placeholder="Message" name="message"></textarea>
									<label class="input__label input__label--hoshi input__label--hoshi-color-2" ></label>
								</li>
								<li class="submit">
									<input id="submit" type="submit" class="flat-button" value="SEND"/>
								</li>
							</ul>
						</form>
					</div>
				</div>
				<div class="divider reach-me-wrap">
					<h3> Follow me on the web</h3>
					<p>Want to make me super happy?. Open an issue/merge request for a thing I'm working on :-)</p>
					<ul class="social">
						<li>
							<div class="via">
								<i class="icon-gitlab-col"></i>
								<div class="social_content">
									<h4>Gitlab</h4>
									<a href="https://gitlab.com/dennohpeter" target="_blank">@dennohpeter</a>
								</div>
							</div>
							<div class="via">
								<i class="icon-github"></i>
								<div class="social_content">
									<h4>Github</h4>
									<a href="https://github.com/dennohpeter" target="_blank">@dennohpeter</a>
								</div>
							</div>
						</li>
						<li>
							<div class="via">
								<i class="icon-mail"></i>
								<div class="social_content">
									<h4>Email</h4>
									<a href="mailto:denispeterson96@gmail.com" target="_blank">denispeterson96@gmail.com</a>
								</div>
							</div>
							<div class="via">
								<i class="icon-devpost"></i>
								<div class="social_content">
									<h4>DevPost</h4>
									<a href="https://devpost.com/dennohpeter" target="_blank">@dennohpeter</a>
								</div>
							</div>
						</li>
						<li>
							<div class="via">
								<i class="icon-twitter-col"></i>
								<div class="social_content">
									<h4>Twitter</h4>
									<a href="https://twitter.com/PythonMafia" target="_blank">@PythonMafia</a>
								</div>
							</div>
							<div class="via">
								<i class="icon-telegram-col"></i>
								<div class="social_content">
									<h4>Telegram</h4>
									<a href="https://t.me/dennohpeter" target="_blank">@dennohpeter</a>
								</div>
							</div>
						</li>
						<li>
							<div class="via">
								<i class="icon-gear"></i>
								<div class="social_content">
									<h4>Codewars</h4>
									<a href="https://www.codewars.com/users/PythonMafia" target="_blank">@PythonMafia</a>
								</div>
							</div>
							<div class="via">
								<i class="icon-gear"></i>
								<div class="social_content">
									<h4>Sololearn</h4>
									<a href="https://www.sololearn.com/Profile/3618381/?ref=app" target="_blank">@dennohpeter</a>
								</div>
							</div>
						</li>
					</ul>
					<p>If you enjoy my software, artwork and want to support further development,
						I would really appreciate a small donation. Donations help me pay for server-space, hardware, and occasionally buy me coffee.
					</p>
					<ul class="donate">
						<li>
							<div class="via">
								<i class="icon-gift"></i>
								<span class="donate_content">
									<span>Paypal</span>
									<a href="" target="_blank">Paypal.me/dennohpeter</a>
								</span>
							</div>
							<div class="via">
								<i class="icon-donate"></i>
								<span class="donate_content">
									<span>BTC Wallet</span>
									<a href="https://t.me/dennohpeter" target="_blank">@dennohpeter</a>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
