{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="home-page theme">
      <div class="section-wrap">
        <div class="text-zone">
                <h1 class="letter-transition text-white">
                Hi,<br>
                I'm Dennis Peter, <br>
                Fullstack developer.
                </h1>
                <h2>Security researcher / Free software Developer / Open source activist.</h2>
                <a href="{% url 'projects' %}" class="flat-button">Check My Projects!</a>
            </div>
        </div>
    </div>
{% endblock %}