{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="fullpage" class="en wrapper">
	<div class="section home-page">
		<div class="flipper-inner">
			<div class="bg-letter bar1"></div>
			<div class="bg-letter bar2"></div>
			<div class="bg-letter bar3"></div>
		</div>
		<div class="section-wrap">
			<h1 class="letter-transition">
				<div>I'm <span class="color"> a FullStack</span>
					<span>Python developer</span><br>
					<span>based in </span>
					<span class="color">Mombasa,Ke.</span>
				</div>
			</h1>
			<p>Scroll to discover my Projects!</p>
		</div>
	</div>
	<div class="section">
		<div class="about">
			<div class="text-zone divider">
				<h1>About</h1>
				<p> Kenyan-based software engineer and website developer who likes to spend
					much of his time on codewars.
				</p>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
				</p>
				<br>
				<p>
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt
					in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<br>
				<p>
					Excepteur sint occaecat cupidatat non proident, sunt
					in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="profile divider">
				<div class="og-img"></div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="resume">
			<h1>Résumé / CV</h1>
			<p>I have nearly 8 years of experience in software development. Below is a summary of my skills, recent employment history, and achievements.</p>
			<a href="/files/peterson-resume.pdf">Download résumé</a>
			<div class="long-form-cv">
				<p>Looking for my long-form CV? <a href="/files/peterson-resume.pdf">Download CV</a></p>
			</div>
			<object width="100%" height="79%" type="application/pdf" data="/files/peterson-resume.pdf">
				<div>
					<p>Can't see the preview? Try <a href="/files/peterson-resume.pdf">downloading</a> my resume instead.</p>
				</div>
			</object>
		</div>
	</div>
	<div class="section">
	<div class="projects">
		<div class="slide" id="slide1" data-anchor="slide1">
			<div id="content">
				<div class="container">
					<div class="row equal-columns">
						<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
							<div class="project-card">
								<a class="card-image" href="" title="OpenMV Cam">
									<div class="img-container">
										<img alt="OpenMV Cam" src="https://hackster.imgix.net/uploads/attachments/905401/20190525_192831_fuuYqq3f2Y.jpg?auto=compress%2Cformat&amp;w=400&amp;h=300&amp;fit=min" class="img-loader loaded">
									</div>
									<div class="card-image-overlay">
										<p>PYNQ is great for accelerating Python applications in programmable logic. Let's take a look at how we can use it with OpenMV camera.</p>
									</div>
								</a>
								<div class="card-body">
									<h4><a class="" href="">Accelerating Image Processing with PYNQ &amp; OpenMV Cam</a></h4>
									<div class="spacer"></div>
									<div class="authors">
										<a title="Adam Taylor" class="" href="/adam-taylor">Adam Taylor</a>
									</div>
								</div>
								<div class="card-bottom">
									<div class="stats">
										<span class="stat">
										</span>
										<span class="stat">
										</span>
									</div>
									<div class="project-difficulty">
									</div>
								</div>
							</div>
						</div>
						<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
							<div class="project-card">
								<a class="card-image" href="" title="OpenMV Cam">
									<div class="img-container">
										<img alt="OpenMV Cam" src="https://hackster.imgix.net/uploads/attachments/905401/20190525_192831_fuuYqq3f2Y.jpg?auto=compress%2Cformat&amp;w=400&amp;h=300&amp;fit=min" class="img-loader loaded">
									</div>
									<div class="card-image-overlay">
										<p>PYNQ is great for accelerating Python applications in programmable logic. Let's take a look at how we can use it with OpenMV camera.</p>
									</div>
								</a>
								<div class="card-body">
									<h4><a class="" href="">Accelerating Image Processing with PYNQ &amp; OpenMV Cam</a></h4>
									<div class="spacer"></div>
									<div class="authors">
										<a title="Adam Taylor" class="" href="/adam-taylor">Adam Taylor</a>
									</div>
								</div>
								<div class="card-bottom">
									<div class="stats">
										<span class="stat">
										</span>
										<span class="stat">
										</span>
									</div>
									<div class="project-difficulty">
									</div>
								</div>
							</div>
						</div>
						<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
							<div class="project-card">
								<a class="card-image" href="" title="OpenMV Cam">
									<div class="img-container">
										<img alt="OpenMV Cam" src="https://hackster.imgix.net/uploads/attachments/905401/20190525_192831_fuuYqq3f2Y.jpg?auto=compress%2Cformat&amp;w=400&amp;h=300&amp;fit=min" class="img-loader loaded">
									</div>
									<div class="card-image-overlay">
										<p>PYNQ is great for accelerating Python applications in programmable logic. Let's take a look at how we can use it with OpenMV camera.</p>
									</div>
								</a>
								<div class="card-body">
									<h4><a class="" href="">Accelerating Image Processing with PYNQ &amp; OpenMV Cam</a></h4>
									<div class="spacer"></div>
									<div class="authors">
										<a title="Adam Taylor" class="" href="/adam-taylor">Adam Taylor</a>
									</div>
								</div>
								<div class="card-bottom">
									<div class="stats">
										<span class="stat">
										</span>
										<span class="stat">
										</span>
									</div>
									<div class="project-difficulty">
									</div>
								</div>
							</div>
						</div>
						<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
							<div class="project-card">
								<a class="card-image" href="" title="OpenMV Cam">
									<div class="img-container">
										<img alt="OpenMV Cam" src="https://hackster.imgix.net/uploads/attachments/905401/20190525_192831_fuuYqq3f2Y.jpg?auto=compress%2Cformat&amp;w=400&amp;h=300&amp;fit=min" class="img-loader loaded">
									</div>
									<div class="card-image-overlay">
										<p>PYNQ is great for accelerating Python applications in programmable logic. Let's take a look at how we can use it with OpenMV camera.</p>
									</div>
								</a>
								<div class="card-body">
									<h4><a class="" href="">Accelerating Image Processing with PYNQ &amp; OpenMV Cam</a></h4>
									<div class="spacer"></div>
									<div class="authors">
										<a title="Adam Taylor" class="" href="/adam-taylor">Adam Taylor</a>
									</div>
								</div>
								<div class="card-bottom">
									<div class="stats">
										<span class="stat">
										</span>
										<span class="stat">
										</span>
									</div>
									<div class="project-difficulty">
									</div>
								</div>
							</div>
						</div>
						<div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
							<div class="project-card">
								<a class="card-image" href="" title="OpenMV Cam">
									<div class="img-container">
										<img alt="OpenMV Cam" src="https://hackster.imgix.net/uploads/attachments/905401/20190525_192831_fuuYqq3f2Y.jpg?auto=compress%2Cformat&amp;w=400&amp;h=300&amp;fit=min" class="img-loader loaded">
									</div>
									<div class="card-image-overlay">
										<p>PYNQ is great for accelerating Python applications in programmable logic. Let's take a look at how we can use it with OpenMV camera.</p>
									</div>
								</a>
								<div class="card-body">
									<h4><a class="" href="">Accelerating Image Processing with PYNQ &amp; OpenMV Cam</a></h4>
									<div class="spacer"></div>
									<div class="authors">
										<a title="Adam Taylor" class="" href="/adam-taylor">Adam Taylor</a>
									</div>
								</div>
								<div class="card-bottom">
									<div class="stats">
										<span class="stat">
										</span>
										<span class="stat">
										</span>
									</div>
									<div class="project-difficulty">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide2" data-anchor="slide2">
		</div>
		<div class="slide" id="slide3" data-anchor="slide3">JAVA PROJECTS</div>
		<div class="slide" id="slide4" data-anchor="slide4">ANIME PROJECTS</div>
	</div>
	</div>
	<div class="section">
		<div class="awards">
			<h1>Awards</h1>
			<p>I have earned a number of awards, merits, and recognitions through my life.
				Some of the most recent and relevant ones are listed below.
				High school awards are omitted for brevity.</p>
				<div class="timeline">
					<ol>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4>
								<p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li>
							<div class="timeline-item">
								<h4>LOREM IPSUM DOLOR</h4> <p>In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.</p>
							</div>
							<span class="timeline-icon"><i class="icon-award"></i></span>
						</li>
						<li></li>
					</ol>

					<div class="arrows">
						<button class="arrow arrow__prev disabled" disabled>
							<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
						</button>
						<button class="arrow arrow__next">
							<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="contact">
				<div class="divider text-zone">
					<h1>Contact me</h1>
					<p>If you have any questions, please don&#8217;t hesitate to contact using form below&#8230;</p>
					<div class="contact-form">
						<form id="contact_form" method="POST">
							{% csrf_token %}
							<ul>
								<li class="half">
									<input class="input__field input__field--hoshi" placeholder="Name" type="text" name="name" />
									<label class="input__label input__label--hoshi input__label--hoshi-color-2" ></label>
								</li>
								<li class="half">
									<input class="input__field input__field--hoshi" placeholder="Email" type="email" name="email" />
									<label class="input__label input__label--hoshi input__label--hoshi-color-2" ></label>
								</li>
								<li>
									<input class="input__field input__field--hoshi" placeholder="Subject" type="text" name="subject" />
									<label class="input__label input__label--hoshi input__label--hoshi-color-2" ></label>
								</li>
								<li>
									<textarea class="input__field input__field--hoshi" placeholder="Message" name="msg"></textarea>
									<label class="input__label input__label--hoshi input__label--hoshi-color-2" ></label>
								</li>
								<li class="submit">
									<input id="submit" type="submit" class="flat-button" value="SEND"/>
								</li>
							</ul>
						</form>
					</div>
				</div>
				<div class="inf-map">
					Dennis Peterson,<br/>
					Maseno,Mombasa, Kenya.<br/>
					<br/>
					<span>
						<span>
							@
						</span>
						: &#100;&#101;&#110;&#105;&#115;&#112;&#101;&#116;&#101;&#114;&#115;&#111;&#110;&#057;&#054;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
					</span>
				</div>
				<div class="divider map-wrap">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
