{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Projects | Dennis Peterson {% endblock %}
{% block canonical %} href="/projects/" {% endblock %}
{% block ogtype %} content="website" {% endblock %}
{% block ogtitle %} content="Projects | Dennis Peterson" {% endblock %}
{% block ogdescription %} content="Projects | Dennis Peterson" {% endblock %}
{% block ogurl %} content="https://dennispeter.org/" {% endblock %}
{% block description %} content="Projects | Dennis Peterson" {% endblock %}
{% block content %}
<div class="projects">
   <div class="container">
      <div class="row categories">
         <h1 class="title">Projects</h1>
         <div class="tab">
            <button>All Projects</button>
            <button>For Fun</button>
            <button>For Profit</button>
            <button>WIP</button>
         </div>
      </div>
      <div class="row equal-columns">
         <div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
            <div class="project-card">
               <a class="card-image" href="" title="Betting website with the most accurate games">
                  <div class="img-container">
                     <img alt="The Belters" src="https://hackster.imgix.net/uploads/attachments/927200/armin_XJcKrcULw2.png?auto=compress%2Cformat&w=400&h=300&fit=min" class="img-loader loaded">
                  </div>
                  <div class="card-image-overlay">
                     <p>Betting website with the most accurate games.</p>
                  </div>
               </a>
               <div class="card-body">
                  <h4>
                     <a class="" href="https://thebelters.herokuapp.com" target="_blank">
                     Betting website with the most accurate games
                     </a>
                  </h4>
               </div>
               <div class="card-bottom">
                  <div class="stats">
                     <span class="stat">
                     <i class="icon-like">808</i>
                     </span>
                     <span class="stat">
                     <i class="icon-eye">808</i>
                     </span>
                  </div>
                  <div class="project-difficulty">
                     <i class="icon-bookmark">808</i>
                  </div>
               </div>
            </div>
         </div>
         <div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
            <div class="project-card">
               <a class="card-image" href="https://hairways.herokuapp.com/" title="Best salon booking website out there">
                  <div class="img-container">
                     <img alt="The Belters" src="https://hackster.imgix.net/uploads/attachments/914515/2019-04-25_23-40-27_Dw4dmYnJGf.png?auto=compress%2Cformat&w=400&h=300&fit=min" class="img-loader loaded">
                  </div>
                  <div class="card-image-overlay">
                     <p>Best salon booking website out there.</p>
                  </div>
               </a>
               <div class="card-body">
                  <h4>
                     <a class="" href="https://hairways.herokuapp.com/" target="_blank">
                     Best salon booking website out there, Everything done right.
                     </a>
                  </h4>
               </div>
               <div class="card-bottom">
                  <div class="stats">
                     <span class="stat">
                     <i class="icon-like">808</i>
                     </span>
                     <span class="stat">
                     <i class="icon-eye">808</i>
                     </span>
                  </div>
                  <div class="project-difficulty">
                     <i class="icon-bookmark">808</i>
                  </div>
               </div>
            </div>
         </div>
         <div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
            <div class="project-card">
               <a class="card-image" href="" title="Betting website with the most accurate games">
                  <div class="img-container">
                     <img alt="The Belters" src="https://hackster.imgix.net/uploads/attachments/914904/project_O0KTttMGol.png?auto=compress%2Cformat&w=400&h=300&fit=min" class="img-loader loaded">
                  </div>
                  <div class="card-image-overlay">
                     <p>Betting website with the most accurate games.</p>
                  </div>
               </a>
               <div class="card-body">
                  <h4>
                     <a class="" href="https://dennohpeter.github.io/EnterLogiesGames/" target="_blank">
                     Betting website with the most accurate games
                     </a>
                  </h4>
               </div>
               <div class="card-bottom">
                  <div class="stats">
                     <span class="stat">
                     <i class="icon-like">808</i>
                     </span>
                     <span class="stat">
                     <i class="icon-eye">808</i>
                     </span>
                  </div>
                  <div class="project-difficulty">
                     <i class="icon-bookmark">808</i>
                  </div>
               </div>
            </div>
         </div>
         <div class="mobile-scroll-row-item project-thumb-container col-sm-6 col-md-4 col-lg-3" data-offset="0" data-ref="tag" data-ref-id="python">
            <div class="project-card">
               <a class="card-image" href="" title="Betting website with the most accurate games">
                  <div class="img-container">
                     <img alt="Processing with PYNQ & OpenMV Cam" src="https://hackster.imgix.net/uploads/attachments/905401/20190525_192831_fuuYqq3f2Y.jpg?auto=compress%2Cformat&w=900&h=675&fit=min" class="img-loader loaded">
                  </div>
                  <div class="card-image-overlay">
                  </div>
               </a>
               <div class="card-body">
                  <h4>
                     <a class="" href="#" target="_blank">
                     Accelerating Image Processing with PYNQ & OpenMV Cam
                     </a>
                  </h4>
               </div>
               <div class="card-bottom">
                  <div class="stats">
                     <span class="stat">
                     <i class="icon-like">808</i>
                     </span>
                     <span class="stat">
                     <i class="icon-eye">808</i>
                     </span>
                  </div>
                  <div class="project-difficulty">
                     <i class="icon-bookmark">808</i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}