body{
  font-family: "Inconsolata", monospace;
  letter-spacing: 2px; }

.title-font, h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500; }

.full-absolute, .overlay-bg, .bg-2, .project-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.full-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Inconsolata", monospace;
  color: #fff;
  background: #000; }
  body.project {
    background: #171819; }

@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

@keyframes txtLoader {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes colorTxt {
  0% {
    color: #ffb3c7; }
  25% {
    color: #f4f4a6; }
  40% {
    color: #c8ffc5; }
  60% {
    color: #a9f9ff; }
  80% {
    color: #fbc5ff; }
  100% {
    color: #ffb3c7; } }

@keyframes snow {
  0% {
    background: url("../img/snow1.jpg");
    background-size: 50%; }
  50% {
    background: url("../img/snow2.jpg");
    background-size: 50%; }
  100% {
    background: url("../img/snow3.jpg");
    background-size: 50%; } }

@keyframes snowLarge {
  0% {
    background: url("../img/snow1.jpg");
    background-size: 100%; }
  50% {
    background: url("../img/snow2.jpg");
    background-size: 100%; }
  100% {
    background: url("../img/snow3.jpg");
    background-size: 100%; } }

@keyframes snowLight {
  0% {
    background: url("../img/snow1_light.jpg");
    background-size: 3%; }
  50% {
    background: url("../img/snow2_light.jpg");
    background-size: 3%; }
  100% {
    background: url("../img/snow3_light.jpg");
    background-size: 3%; } }

.gradient, .btn:hover, #fp-nav ul li .menu-bg, #close-nav ul li .menu-bg, .about-contact .linkedin:hover a {
  background: linear-gradient(124deg, #fbcce8, #ffded5, #f2f3cc, #d7ffd6, #ccf4f9, #e3ceff, #fdccdd);
  background-size: 1000% 1000%;
  -webkit-animation: rainbow 20s linear infinite;
  -o-animation: rainbow 20s linear infinite;
  animation: rainbow 20s linear infinite; }

.letter-transition {
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
  will-change: transform; }
  .letter-transition div span {
    opacity: 0;
    width: auto;
    min-width: 10px;
    display: inline-block;
    vertical-align: top;
    transition: all 1.2s ease, color 3s linear;
    text-align: center; }

.black-bg {
  background: #171819;
}

.snow {
  animation: snow 0.2s infinite; }

.snow-large {
  animation: snowLarge 0.2s infinite; }

.mg-animation {
  margin-top: 100px;
  transition: all 0.5s ease-out; }

.bg-letter {
  position: absolute;
  top: 0;
  height: 100%;
  transition: background 2s ease;
  border-right: 1px solid #000;
  will-change: background-position; }
  .bg-letter.bg-center {
    background-position: center center !important; }
  .bg-letter.mobile {
    display: none;
    width: 100%; }

#focus {
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 500px);
  transition: all 2s ease;
  cursor: pointer;
  will-change: transform; }

#wave {
  position: fixed;
  top: calc(50vh - 125px);
  left: calc(50vw - 400px);
  opacity: 0;
  transform: scale(0.6);
  pointer-events: none; }

.click-focus {
  position: absolute;
  top: calc(50vh - 250px);
  left: calc(50vw - 500px);
  width: 1000px;
  height: 500px;
  cursor: pointer; }

.canvas-hover-zone {
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 250px);
  width: 500px;
  height: 300px;
  cursor: pointer; }

.btn {
  height: 50px;
  border-radius: 23px;
  background: #323841;
  color: #fff;
  margin-top: 40px;
  margin-right: auto;
  width: 225px;
  padding: 18px 20px 0;
  font-size: 10px;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.6);
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: all 0.6s linear; }

.classe-quisert-arien {
  font-size: 100px; }

.arrow-down {
  position: absolute;
  bottom: calc(20% - 50px);
  left: calc(50vw - 18px);
  width: 36px;
  height: 34px;
  margin: 20px auto 0;
  background: url(../img/arrow_down.svg) 0 0 no-repeat;
  background-size: contain; }

.cross {
  width: 110px;
  height: 110px;
  position: relative; }

.cross:before, .cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #000; }

.cross:before {
  left: 50%;
  width: 16%;
  margin-left: -8%;
  height: 100%; }

.cross:after {
  top: 50%;
  height: 16%;
  margin-top: -8%;
  width: 100%; }

.cadre {
  position: fixed;
  z-index: 500; }
  .cadre.top, .cadre.left, .cadre.right {
    top: 0; }
  .cadre.top, .cadre.left, .cadre.bottom {
    left: 0; }
  .cadre.bottom {
    bottom: 0; }
  .cadre.right {
    right: 0; }
  .cadre.top, .cadre.bottom {
    width: 100%;
    height: 20px; }
  .cadre.left, .cadre.right {
    width: 20px;
    height: 100%; }

section {
  width: 100vw;
  position: relative;
  top: 0;
}
  section p {
    width: 400px;
    text-align: left;
    margin: 40px 0 40px 30%;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); }

.section-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.number {
  margin: 0 0 7% 50%;
  font-size: 250px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  line-height: 0;
  color: #323841;
  text-shadow: 6px 6px 32px rgba(0, 0, 0, 0.2);
  transition: all 2s linear;
  font-style: italic; }

h4 {
  letter-spacing: 0; }

h1, h2 {
  width: 100%;
  text-align: center;
  color: #fff; }

h1 {
  font-size: 60px; }
  h1 div {
    display: inline-block; }

h2 {
  font-size: 52px;
  text-align: left;
  margin-top: -6%; }

#section1 .section-wrap {
  width: 100%;
  left: 0;
  padding: 100px 10%; }

#section1 .btn {
  margin: 60px auto 0;
  position: absolute;
  bottom: 35%;
  left: calc(50vw - 114px); }

#section1 .bar1 {
  left: 0;
  width: 33.333%;
  background: url(../img/bar_1-01.svg) no-repeat;
  background-position: bottom center;
  background-size: 100% auto; }

#section1 .bar2 {
  left: 33.333%;
  width: 33.333%;
  background: url(../img/bar_2-01.svg) no-repeat;
  background-position: top center;
  background-size: 100% auto; }

#section1 .bar3 {
  left: 66.666%;
  width: 33.333%;
  background: url(../img/bar_3-01.svg) no-repeat;
  background-position: bottom center;
  background-size: 100% auto; }

#section1 .bg-letter.mobile {
  background: url(../img/mobile.svg) top center no-repeat;
  background-size: 100% auto; }

#section1 p {
  margin: 40px auto 0;
  text-align: center; }

a {
  color: #fff; }


section .bg.gradient, section .bg.btn:hover, section #fp-nav ul li .bg.menu-bg, #fp-nav ul li section .bg.menu-bg, section #close-nav ul li .bg.menu-bg, #close-nav ul li section .bg.menu-bg, section .about-contact .linkedin:hover a.bg, .about-contact .linkedin:hover section a.bg {
  top: calc(-65vh - 200px);
  background-size: 600% 100%;
  animation: rainbow 15s linear infinite; }

section h3.letter-transition {
  position: absolute;
  top: 36%;
  width: 100%;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 80px;
  font-weight: 500;
  padding-left: calc(10% + 180px);
  text-align: left; }

.black-bg.transition {
  top: calc(-65vh - 200px); }

.border-lg {
  position: relative;
  width: 400px;
  height: 50px;
  margin: 23% auto; }


.img-wrapper {
  padding-left: 50vw;
  width: 50vw;
  height: 40vh;
  margin: 30vh 0; }
  .img-wrapper .container {
    height: 100%;
    margin-left: 50%; }
    .img-wrapper .container img {
      display: inline-block;
      height: 100%;
      margin-left: 60px; }
.img-center {
  display: block;
  width: 50%;
  margin: 0 25% 100px; }

.img-block {
  width: 60%;
  height: 70vh;
  margin: 60px auto;
  clear: both;
  padding-bottom: 100px; }
  .img-block img, .img-block p {
    display: block; }
  .img-block img {
    height: 100%; }
  .img-block p {
    position: relative;
    font-size: 44px;
    margin: 20% 0 0 0;
    z-index: 2; }
  .img-block:nth-child(odd) img {
    float: left; }
  .img-block:nth-child(odd) p {
    float: right;
    padding-right: 100px; }
  .img-block:nth-child(odd) .mg-animation {
    transition: all 1s ease; }
  .img-block:nth-child(even) img {
    float: right; }
  .img-block:nth-child(even) p {
    float: left;
    padding-left: 100px; }
  .img-block:nth-child(even) .mg-animation {
    transition: all 1.5s ease; }
