@media screen and (max-width: 760px) {

    .mobile-visible {
        display: block;
    }
    .mobile-hidden {
        display: none;
    }

    body {
        padding-top:53px;
    }

    /* ====================== MAIN HEADER ================ */

    .main-header {
        padding: 9px 0;
    }
    .main-header .logo {width: 120px;}
    .main-header .logo  img {max-width: 100%;margin-top: 5px;}

    .mobile-search {
      width:38px;
      height:33px;
      background:url(../img/sprite.png) no-repeat left -183px;
      margin-right: 7px;
    }
    .mobile-menu {
      width:34px;
      height:33px;
      background:url(../img/sprite.png) no-repeat left -150px;
      margin-right: 7px;
    }

    .head-search {
      position: fixed;
      top:54px;
      left: 0;
      padding: 27px 0%;
      width: 100%;
      background: #fff;
      background: rgba(255,255,255,0.93);
    }
    .head-search.show {
        display: block;
    }
    .head-search form {
        width:92%;
        margin:0 4%;
        position: relative;
        overflow: hidden;
    }
    .head-search input[type="text"] {
        width:94%;
    }
    .head-search input[type="submit"] {
        position: absolute;
        top:0;
        right:0;
    }

    .head-login .user-info {font-size: 0;padding-right: 0;}
    .head-login .user-info img {margin-left: 0;width:33px;height: 33px;border-radiu:33px;position: relative;top: -1px;}
    .head-login .user-info span {top:-5px;}
    .head-login .head-activity {width:310px;}
    .head-login .head-activity .arr {right:12px;}
    /* ====================== MENU ================ */

    .menu.show {
        display: block !important;
    }
    .menu {
        position: fixed;
        z-index:4;
        top:52px;
        left: 0;
        width: 100%;
        background: #fff;
        background: rgba(255,255,255,0.93);
        -webkit-box-shadow: 0px 0 0 0  #cccccc;
        box-shadow: 0px 0px 0 0 #cccccc;
    }
    .menu li > a {line-height: 49px;}
    .menu li .submenu a {font-size: 11px;line-height: 25px;}
    .menu li:first-child + li + li .submenu a {
        display: inline;
        padding-left: 5px;
    }
    .menu li .submenu .ico {margin-top: 6px;}

    /* ====================== MAIN FOOTER ================ */

    .main-footer {
        font-size: 10px;
        padding: 10px;
    }
    .main-footer p {
        float:none !important;
        display: block;
        clear: both;
        width: 100%;
        text-align: left;
        padding-top: 10px;
        font-size: 11px;
    }

    /* ======================  CONTENT CONTAINER  ================ */

    .main-header + .main-content {margin-top: 20px;}

    .main-content.account-section,
    .main-content {
        padding:0;
        width: 320px;
    }
    .right-col-flex {
        margin: 0 auto !important;
        width: 300px;
    }

    .main-content.account-section > .f_left {
        float: none;
        width:290px;
        display: block;
        margin: 0 auto;
    }

    .grid {
        width: 257px;
        margin: 0 auto;
    }

    /* ====================== ACCOUNT & SIGN in/up SECTION ================ */

    .account-section .sign-up-in {
        width:240px;
        padding:1px 23px 25px 23px;
        float: none;
        display: block;
        margin: 0 auto;
    }

    /* ====================== LISTING CONTROL ================ */

    .listing-control {
        padding:16px 0;
        margin: 0 auto;
        width: 300px;
    }

    /* ====================== FOLLOWERS GRID ================ */

    /* variant with profile item */
    .item.follower.follower-profile {
        margin: 0 auto 22px auto !important;
        float: none;

    }

    /* ====================== POLLS LIST ================ */

    .polls-list .item{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 60px;
    }

    .polls-list .item .vote-block{
       position: static;
       margin: 35px auto 0 auto;
    }
    .polls-list .item .poll-user {bottom:106px;}

    /* ====================== POLLS COMMENTS LIST ================ */

    .poll-comments-list {
        padding: 30px 10px 10px 17px;
    }
    .poll-comments-list ul li {
        padding-left: 72px;
    }
    .poll-comments-list ul li  p{
      line-height: 18px;
    }
    /* ====================== USER PROFILE ================ */

    .profile-settings {
        width: 240px;
        padding: 30px 30px;
        overflow: hidden;
        margin: 0 auto;
        float: none;
    }

    .profile-settings-nav {
        width: 100%;
        float: none;
    }
    .profile-settings-nav li.user-pic ,
    .profile-settings-nav li.user-pic div {
        text-align: center;
        margin: 0 auto 15px auto;
    }

    .profile-details {
        width: 100%;
        float: none;
        margin-top: 20px;
    }

    /* ====================== VOTES MAP ================ */

    .votes-map  .map-div {
        height: 263px;
    }

    /* ====================== OPEN POLL PAGE  ================ */

    .open-poll-page {
        width:280px;
        padding: 10px 10px;
        margin: 0 auto;
        float: none;
    }
    .open-poll-page + .item {
        display: block;
        margin:18px auto;
        float: none;
    }
    .open-poll-page .form-theme-1 .inline-two > div {
        width: 100%;
        margin-bottom: 8px;
    }
    /* ====================== POLL SINGLE PAGE  ================ */

    .poll-single-page + .item {
        display: block;
        position: static;
        margin: 18px auto;
    }
    .btn-load-more {
        margin-left: auto;
    }

}