{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Projects | Dennis Peterson {% endblock %}
{% block canonical %} href="https://dennispeter.org/projects" {% endblock %}
{% block ogtype %} content="website" {% endblock %}
{% block ogtitle %} content="Projects | Dennis Peterson" {% endblock %}
{% block ogdescription %} content="Projects | Dennis Peterson" {% endblock %}
{% block ogurl %} content="https://dennispeter.org/projects" {% endblock %}
{% block description %} content="Projects | Dennis Peterson" {% endblock %}
{% block content %}
	<div class="projects">
		<div class="container">
			<div class="row categories">
				<h1 class="title color">Projects</h1>
				<div class="tab">
					<select name="" id="" onchange="toggleTab(event, this.value)">
						<option class="tablinks" value="tabcontent">All Projects</option>
						<option class="tablinks" value="fun">Fun</option>
						<option class="tablinks" value="art">Art</option>
						<option class="tablinks" value="wip">Wip</option>
					</select>
					<button class="tablinks" onclick="toggleTab(event, 'tabcontent')">All Projects</button>
					<button class="tablinks" onclick="toggleTab(event, 'fun')">Fun</button>
					<button class="tablinks" onclick="toggleTab(event, 'art')">Art</button>
					<button class="tablinks" onclick="toggleTab(event, 'wip')">Wip</button>
				</div>
			</div>
			<div class="row equal-columns">
				{% for project in projects %}
					<div class="tabcontent project-thumb-container col-sm-6 col-md-4 col-lg-3 {{ project.category }}" data-offset="0" data-ref="tag" data-ref-id="{{ project.category }}">
						<div class="project-card">
							<div class="card-image">
								<div class="img-container">
									<img alt="{{ project.name }}" src="../static/projects/{{ project.preview }}" >
								</div>
								<div class="card-badge">
									<span class="badge text-upper">Python</span>
									<span class="badge text-upper">Bs4</span>
									<span class="badge text-upper">Requests</span>
									<span class="badge text-upper">JS</span>
									<span class="badge badge-danger text-upper">HTML5</span>									
								</div>
							</div>
							<div class="card-body">
								<h4 class="text-upper">{{ project.name }}</h4>
								<p>
									{{ project.intro }}
								</p>
							</div>
							<div class="card-bottom">
								<span class="status text-upper badge badge-{% if project.status == 'maintained' %}success{% else %}danger{% endif %}">
									{{ project.status }}
								</span>
								<div class="project-more-info text-upper">
									<a href="{% url  'more' name=project.slug_name %}" class="nicehover">SEE PROJECT</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<script>
	function toggleTab(event, category) {
		var categories = document.getElementsByClassName("tabcontent");
		for (var i = 0; i < categories.length; i++) {
			if(categories[i].classList.contains(category)){
				categories[i].style.display = "flex";
			}
			else {
				categories[i].style.display = "none";
			}
		}
		var tablinks = document.getElementsByClassName("tablinks");
		for (var i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		event.currentTarget.className += " active";
	}
	document.addEventListener("DOMContentLoaded", function() {
		document.querySelector("button.tablinks").click();
	});
	</script>
{% endblock %}