{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{ project.name }} | {{ project.intro }} {% endblock %}
{% block canonical %} href="https://dennispeter.org/{{ project.name }}" {% endblock %}
{% block ogtype %} content="website" {% endblock %}
{% block ogtitle %} content="{{ project.name }} | {{ project.intro }}" {% endblock %}
{% block ogdescription %} content="{{ project.name }} | {{ project.intro }}" {% endblock %}
{% block ogurl %} content="https://dennispeter.org/{{ project.name }}" {% endblock %}
{% block description %} content="{{ project.description }} | {{ project.intro }}" {% endblock %}
{% block content %}
<div class="project-preview">
	<div class="preview_card">
		<div class="card-image">
		<div class="img-container preview-for-desktop">
			<img class="align-center" src="../../static/projects/{{ project.preview }}" alt="{{ project.name }} preview">
		</div>
	</div>
		<div class="card-body">
			<h1>{{ project.name }} — {{ project.intro }}</h1>
			<hr>
			<a href="{{ project.source_url }}" target="_blank" class="nicehover text-upper"><i class="icon-{{ project.source }} small-right"></i>{{ project.source }}</a>
			<a href="{{ project.release_url }}" target="_blank" class="nicehover text-upper"><i class="icon-download small-right"></i>{{ project.releases }}</a>
			<a href="{{ project.homepage_url }}" target="_blank" class="nicehover text-upper"><i class="icon-web small-right"></i>{{ project.homepage }}</a>
		</div>
	</div>
	<h2>What is this?</h2>
	<p>{{ project.name }} {{ project.description }}</p>

	<h2>How it works</h2>
	<p>{{ project.name }} {{ project.works }}</p>

	<h2>Getting Started</h2>
	<p>{{ project.get_started | safe }}</p>

	{% if project.has_installation %}
	<h2>Installation | Setup</h2>
	<pre>git clone {{ project.source_url }}.git <br><code>cd {{ project.link }}</code></pre>
	<p>Create a Virtual Env by running </p>
	<pre><code> python3 -m venv venv</code></pre>
	<p>Activate it </p>
	<pre>source venv/bin/activate </code></pre>
	<p>Then install dependencies </p>
	<pre><code> pip install -r requirements.txt </code></pre>
	<p>After you have installed deps run to get today games</p>
	<pre><code> python manage.py updater </code></pre>
	<p>And tada!! Open another Terminal and Runserver.</p>
	<pre><code> python manage.py runserver </code></pre>
	{% endif %}

	<h2>Credits</h2>
	<p>{{ project.credits | safe }}</p>

	<h2>Licence</h2>
	<p>{{ project.name }} is a free software released under the MIT license. See
	<a href="{{ project.source_url }}/blob/master/LICENSE" target="_blank" class="link-blue">
	LICENSE</a> for more details.
	</p>
	<br>
</div>
{% endblock %}