{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{ project.name }} | {{ project.intro }} {% endblock %}
{% block canonical %} href="https://dennispeter.org/{{ project.name }}" {% endblock %}
{% block ogtype %} content="website" {% endblock %}
{% block ogtitle %} content="{{ project.name }} | {{ project.intro }}" {% endblock %}
{% block ogdescription %} content="{{ project.name }} | {{ project.intro }}" {% endblock %}
{% block ogurl %} content="https://dennispeter.org/{{ project.name }}" {% endblock %}
{% block description %} content="{{ project.description }} | {{ project.intro }}" {% endblock %}
{% block content %}
<div class="project-preview">
	<div class="preview_card">
		<div class="card-image">
		<div class="img-container preview-for-desktop">
			<img class="align-center" src="../../static/projects/{{ project.preview }}" alt="{{ project.name }} preview">
		</div>
	</div>
		<div class="card-body">
			<h1>{{ project.name }} — <span class="subtitle">{{ project.intro }}</span></h1>
			<hr>
			{% if project.open_source %}
			<a href="{{ project.source_url }}" target="_blank" class="nicehover text-upper"><i class="icon-{{ project.source }} small-right"></i>{{ project.source }}</a>
			<a href="{{ project.release_url }}" target="_blank" class="nicehover text-upper"><i class="icon-download small-right"></i>{{ project.releases }}</a>				
			{% endif %}
			<a href="{{ project.homepage_url }}" target="_blank" class="nicehover text-upper"><i class="icon-web small-right"></i>{{ project.homepage }}</a>
		</div>
	</div>
	<h2>What is this?</h2>
	<p>{{ project.name }} {{ project.description }}</p>

	<h2>How it works</h2>
	<p>{{ project.name }} {{ project.works | safe }}</p>

	<h2>Getting Started</h2>
	<p>{{ project.get_started | safe }}</p>

	{% if project.has_installation %}
	<h2>Installation | Setup</h2>
	{{ project.installation | safe }}

	<h2>Usage</h2>
	{{ project.usage | safe }}
	{% endif %}

	<h2>Credits</h2>
	<p>{{ project.credits | safe }}</p>

	{% if project.open_source %}
	<h2>Licence</h2>
	<p>{{ project.name }} is a free software released under the MIT license. See
	<a href="{{ project.source_url }}/blob/master/LICENSE" target="_blank" class="link-blue">
	LICENSE</a> for more details.
	</p>
	{% endif %}
	<br>
</div>
{% endblock %}
